[defaults]
inventory = inventory/local.yml
roles_path = roles:netris-lab/roles
collections_paths = vendor:netris-lab/collections
host_key_checking = false
stdout_callback = ansible.posix.debug
collections_on_ansible_version_mismatch = ignore
