apiVersion: v1
kind: Namespace
metadata:
  labels:
    app: netris-controller
  name: netris-controller
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: netris-controller
  namespace: netris-controller
spec:
  failurePolicy: abort
  chart: https://github.com/netrisai/charts/releases/download/netris-controller-{{ netris_controller_chart_version }}/netris-controller-{{ netris_controller_chart_version }}.tgz
  targetNamespace: netris-controller
  valuesContent: |-
    netris:
      webLogin: {{ netris_login }}
      webPassword: {{ netris_password }}
    redis:
      master:
        disableCommands: []
    haproxy:
      service:
        type: ClusterIP
        externalTrafficPolicy: ""
    ingress:
      hosts: []
