---
apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: {{ caas_discovery_infraenv_name }}
  namespace: {{ caas_discovery_infraenv_namespace }}
spec:
  osImageVersion: "{{ caas_ocp_version }}"
  pullSecretRef:
    name: pull-secret
  sshAuthorizedKey: {{ _ssh_pub_key.content | b64decode | trim }}
  nmStateConfigLabelSelector:
    matchLabels: {}
